@import url('https://fonts.googleapis.com/css?family=Roboto');

/* SCROLL */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto';
}

body {
  padding: 0px;
  font-family: 'Roboto';
}

p {
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 10px;
}

a {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
}

.voltarB {
  color: #000000;
  font-size: 16px;
}

.sairB {
  position: fixed;
  background: #FF5F00;
  border: 2px solid #FF5F00;
  height: 30px;
  width: 60px;
  z-index: 100;
  top: 40;
  right: 110;
  transition: box-shadow .3s;
  box-shadow: 0 3px 3px rgba(33, 33, 33, .2);
  cursor: pointer;
  border-radius: 5px;
}

input[type=button].sairB:active {
  transform: scale(0.95);
}

input[type=button].sairB:focus {
  outline: none;
}

input[type=button].sairB:hover {
  box-shadow: 0 6px 6px rgba(37, 37, 37, 0.2);
}

button.profileB {
  background: #FF5F00;
  position: fixed;
  top: 25;
  right: 25;
  border: 3px solid #FF5F00;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  z-index: 100;
  transition: box-shadow .3s;
  box-shadow: 0 3px 3px rgba(33, 33, 33, .2);
  cursor: pointer;
}

button.profileB:active {
  transform: scale(0.95);
}

button.profileB:focus {
  outline: none;
}

button.profileB:hover {
  box-shadow: 0 6px 6px rgba(37, 37, 37, 0.2);
}

#nomeUser {
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
}

#logOutB {
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
}

/* LEFT SIDE */

.voltar-flex {
  flex: 1;
  margin: 41px;
}

.nomeParque-flex {
  flex: 8;
}

.buttonLugares {
  font-size: 20px;
  background-color: #FFFFFF;
  color: black;
  transform: scale(0.95);
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.grid-containerInfo {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 825px;
}

.atalhos-flex {
  flex: 1;
  display: flex;
  justify-content: center;
}

button:active {
  border: 0;
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.info-flex {
  flex: 2;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding-top: 15px;
  padding-bottom: 15px;
}

.reservar-flex {
  flex: 3;
  align-items: center;
}

#data{
  margin-top: 5px;
  margin-left: 35px;
}

.calendar{
  border: 1px solid #c4c4c4;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-right: 40px;

}

label {
  display: block;
  margin-top: 35px;
  margin-left: 10px;
}


.reviewHeader-flex {
  flex: 4;
  border-top: 1px solid #D9D9D9;
  padding-top: 15px;
}

.classificação-flex {
  display: flex;
  flex-direction: row;
}

.classificacao {
  flex: 1;
  background: #FF5F00;
  color: white;
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px;
  align-items: center;
}

.rightSide-flex {
  flex: 2;
  margin-left: 20px;
}

.reviews-flex {
  flex: 8;
  margin: 10px;
  font-size: 0.5em;
  border: 2px solid #969696;
}

.buttonReview {
  border: 2px solid #FF5F00;
  color: #FF5F00;
  border-radius: 5px;
  padding: 8px;
  background-color: #FFFFFF;
  font-family: 'Roboto';
}

.buttonReserva {
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  background-color: #FF5F00;
  font-family: 'Roboto';
  float: right;
  margin-right: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}

input[type=button]:active {
  transform: scale(0.95);
}

input[type=button]:focus {
  outline: none;
}

input[type=button]:hover {
  transform: scale(0.95);
  cursor: pointer;
}

h1 {
  font-size: 2em;
}

.grid-bar {
  display: flex;
  background-color: #FF5F00;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
}

.grid-mapa {
  grid-area: m;
}

.grid-aside {
  grid-area: s;
  background-color: #FFFFFF;
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: auto 70%;
  grid-template-rows: 100%;
  grid-template-areas: 's m';
}

#mapid {
  /* height: 600px; 
  width: 1000px; */
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1
}

.tituloReviews {
  font-size: 20px;
  font-weight: bold;
}

.review {
  border-bottom: 1px solid #bebebe;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #FF5F00;
}

.button1:hover {
  background-color: #FF5F00;
  color: white;
}

button:focus {
  background-color: #FF5F00;
  color: white;
}

.direction-icon {
  flex: 1;
  background: #FF5F00;
  color: white;
  border: 2px solid #FF5F00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  margin: 30px;
  cursor: pointer;
}

.emel-icon {
  flex: 2;
  background: #FF5F00;
  color: white;
  border: 2px solid #FF5F00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  margin: 30px;
  cursor: pointer;
}

.share-icon {
  flex: 3;
  background: #FF5F00;
  color: white;
  border: 2px solid #FF5F00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  margin: 30px;
  cursor: pointer;
}

.bookmark-icon {
  flex: 4;
  background: #FF5F00;
  color: white;
  border: 2px solid #FF5F00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  margin: 30px;
  cursor: pointer;
}