
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* SCROLL */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46); 
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto';
}

body {
  padding: 0px;
  font-family: 'Roboto';
}


p {
  font-size: 14px;
}

a {
  color: #ffffff;
}

.reservasB{
  position: fixed;
  color: #FFFFFF;
  background:#FF5F00;
  border: 2px solid #FF5F00;
  height: 30px;
  width: 60px;
  z-index: 100;
  top: 40;
  right: 115;
  transition: box-shadow .3s;
  box-shadow: 0 3px 3px rgba(33,33,33,.2); 
  cursor: pointer;
	border-radius: 5px;
}

input[type=button].reservasB:active {
	transform: scale(0.95);
}

input[type=button].reservasB:focus {
	outline: none;
}

input[type=button].reservasB:hover{
	box-shadow: 0 6px 6px rgba(37, 37, 37, 0.2); 
}


.sairB{
  position: fixed;
  color: #FFFFFF;
  background:#FF5F00;
  border: 2px solid #FF5F00;
  height: 30px;
  width: 60px;
  z-index: 100;
  top: 40;
  right: 185;
  transition: box-shadow .3s;
  box-shadow: 0 3px 3px rgba(33,33,33,.2); 
  cursor: pointer;
	border-radius: 5px;
}

input[type=button].sairB:active {
	transform: scale(0.95);
}

input[type=button].sairB:focus {
	outline: none;
}

input[type=button].sairB:hover{
	box-shadow: 0 6px 6px rgba(37, 37, 37, 0.2); 
}

.verNotificacoesB{
  position: fixed;
  color: #FF5F00;
  background:#FFFFFF;
  border: 2px solid #ffffff;
  height: 25px;
  width: 45px;
  z-index: 101;
  top: 80;
  right: 20;
  transition: box-shadow .3s;
  box-shadow: 0 3px 3px rgba(33,33,33,.2); 
  cursor: pointer;
	border-radius: 5px;
}

#notificacoes {
  display: none;
}

.notificacoes {
  position:fixed;
  background-color:#ffffff;
  color: #FF5F00;
  max-height: 400px;
  width: 250px;
  z-index: 100;
  top: 115;
  right: 10;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(33,33,33,.2);
  padding: 5px;
}

.sectionNotificacao{
  padding: 5px;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  margin: 5px;

}

.apagarNotificacao{
  background-color: #FF5F00;
  border: 2px solid #FF5F00;
  color: #ffffff;
  border-radius: 5px;
  z-index: 102;
  height: 17px;
  width: 17px;
  float: right;
  font-size: 8px;
  text-align: center;
  cursor: pointer;
}

input[type=button].apagarNotificacao:active {
	transform: scale(0.95);
}

input[type=button].apagarNotificacao:focus {
	outline: none;
}


button.profileB {
  background:#FF5F00;
  position: fixed;
  top: 25;
  right: 35;
  border: 3px solid #FF5F00;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  z-index: 100;
  transition: box-shadow .3s;
  box-shadow: 0 3px 3px rgba(33,33,33,.2); 
  cursor: pointer;
}

button.profileB:active {
	transform: scale(0.95);
}

button.profileB:focus {
	outline: none;
}

button.profileB:hover{
	box-shadow: 0 6px 6px rgba(37, 37, 37, 0.2); 
}

#ep-logo{
  height: 80px;
}

#review{
  border: 2px solid; 
  border-color: #232323; 
  padding:10px;
}


h1 {
  font-size: 2em;
}

.grid-bar {
  display: grid;
  position: relative;
  grid-template-columns:30% auto;
  grid-template-rows: 100%;
  grid-template-areas:  
  'i b';
  background-color: #FF5F00;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.image{
  grid-area: i;
  margin: 15px;
  margin-left: 20px;
}

.searchBar-flex{
  grid-area: b;
  place-self : center stretch;
}

.grid-mapa {
  grid-area: m;
}

.grid-listaParques {
  margin-top: 10px;
} 

.grid-aside {
  grid-area: s;
  background-color: #FFFFFF;
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-columns:auto 65%;
  grid-template-rows: 100%;
  grid-template-areas:  
  's m';
}

#mapid { 
  height: 940px; 
  /* width: 1250px; */
  width: 65%;
  z-index: 1;
  position: fixed;
}

#listaParques {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  font-size:  0.5em;
  overflow-y: auto;
  height: 800px;
}

.buttonIndisponivel{
  font-family: 'Roboto';
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  text-align: center;
  background-color: rgb(200, 200, 200); 
  color: rgb(85, 85, 85); 
  border: 2px solid #4d4d4d;
  cursor: pointer;
}

.button1 {
  font-family: 'Roboto';
  text-align: center;
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #FF5F00;
  border-color: #232323;
}


.button1:hover {
  background-color: #FF5F00;
  color: white;
}

.button1:focus {
   background-color: #FF5F00; 
   color: white;
}

/* FORM */

form.searchBar input[type=text] {
  border-radius: 10px;
  width:250px;
  flex:8;
  padding: 8px;
  font-size: 17px;
  border: 1px solid #ffffff;
  margin:auto;
  background: #ffffff;
  transition: box-shadow .3s;
	box-shadow: 0 3px 3px rgba(33,33,33,.2); 
}

form.searchBar input[type=text]:hover {
  outline: none;
}

form.searchBar textarea[type=text]:focus{
  outline: none;
}

form.searchBar select:focus{
  outline: none;
}

form.searchBar input[type=button] {
  /* float: left; */
  border-radius: 10px;
  width: 18%;
  padding: 9px;
  background: #ffffff;
  color: #FF5F00;
  font-size: 15px;
  border: 1px solid #ffffff;
  cursor: pointer;
  /* transition: box-shadow .3s; */
	box-shadow: 0 3px 3px rgba(33,33,33,.2); 
}

input[type=button]:active {
  outline: none;
  border: none;
}
  
input[type=button]:focus {
  outline: none;
}

form.searchBar input[type=button]:hover {
  box-shadow: 0px 6px 6px rgba(37, 37, 37, 0.2);
}

form.searchBar:after {
  content: "";
  clear: both;
  display: table;
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

.markerInput{
  border: none;
  font-family: 'Roboto';
  text-align: center;
  padding: 3px 6px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.markerInput:hover {
  background-color: #FF5F00;
  color: white;
}

.markerInput:focus {
   background-color: #FF5F00; 
   color: white;
}