body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff9100;
}

.image{
  flex:1;
  padding: 0px;
  padding-left: 20px;
}

#eplogo {
  width: 200px;
}

.title {
  flex:8;
  padding-right: 50px;
  text-align: center;
}

h1 {
  font-size: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns:auto 33%;
  grid-template-areas:
  'h h'
  'm s'
  'f f';
}

.map-flex{
  display: flex;
}

.header-flex{
  display: flex;
  background-color: rgb(41, 41, 41);
  color: white;
  align-items: center;
}

.footer-flex {
  display: flex;
  background-color: rgb(199, 72, 14);
  color: white;
  padding: 10;
  align-items: center;
}

.grid-header {
  grid-area:h;
}

.grid-main {
  grid-area:m;
}

.grid-aside {
  grid-area:s;
}

.grid-footer {
  grid-area:f;
}

#mapid { 
  height: 600px; 
  width: 1200px;
}

.parques-flex{
  display: flex;
  background-color: rgb(21, 8, 77);
  color: white;
  padding: 10;
  align-items: center;
}
/*-------------------------------*/


#parques{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#icon {
  background-color:brown;
  font-size: 25px;
  color:white;
  padding:10px;
  max-width: 50px;
}

#top-of-slot{
  flex: 1;
  display: flex;
}

#bottom-of-slot {
  flex: 1;
}

#precoDiario {
  padding-left: 5px;
  padding-top: 20px;
  font-size:  0.5em;
}


.parqueSections{
  background-color:rgb(18, 5, 199);
  color:rgb(131, 131, 131);
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.50em;
  grid-row: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;

}

.full{
  background-color: rgb(255, 0, 0);
  color:rgb(102, 102, 102);
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.50em;
  grid-row: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}